body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    color:grey;
    font-family:'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color:rgb(167, 26, 1);
}

.section_1 {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

.infoBox img {
    width: 150px;
    height: auto;
    max-width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:30px;
    gap:20px;
}

button {
    background-color: black;
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px 5px grey;
    padding: 10px;
    border-radius: 15px;
    border-color: red;
}

h1,
h2 {
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.section_2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(54, 52, 86);
}

.infoBoxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding:20px;
}

.infoBox {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex : auto;
}

.section_3 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1F2937;
}

.section_3 > p {
    color:greenyellow
}

.section_3 > h3 {
    align-self:flex-end;
    color:yellow;
}

.section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:black;
}

.signup_box {
    display: flex;
    background-color:#1F2937;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
    gap:10px;
}

